---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PageTitle from '../../components/PageTitle.astro';
import Card from '../../components/Card.astro';
const classInnerList = 'space-y-2 list-disc';
---

<BaseLayout>
  <div class="flex flex-col items-center md:px-6 gap-8 mt-6 space-y-12">
    <div>
      <PageTitle class="mb-6">About Us</PageTitle>
      <Card>
        <div
          class="text-base md:text-lg md:max-w-3xl px-4 text-gray-700 leading-relaxed space-y-4"
        >
          <p>
            At Frontier, we believe in making athletes faster, stronger, and
            more powerful. We focus on understanding and improving the body—how
            it moves, adapts, and performs—while asking thoughtful questions of
            our athletes to help them discover their potential. Through
            education and tailored guidance, we create the foundation needed to
            refine skills and achieve peak performance.
          </p>
          <p>
            At the heart of Frontier Sports Performance is a simple truth:
            greatness begins with a foundation of physical and mental
            resilience. Founded by Steven Baron and Jonathan Locher, Frontier
            Sports Performance is the culmination of a lifelong journey in
            athletics, fueled by lessons learned on and off the field.
          </p>
          <p>
            Frontier Sports Performance empowers athletes to push limits,
            achieve breakthroughs, and become stronger in every way.
          </p>
        </div>

        <div class="space-y-4">
          <h1 class="text-xl md:text-2xl font-semibold text-center">
            Our Values
          </h1>
          <div
            class="text-base md:text-lg md:max-w-3xl px-4 text-gray-700 leading-relaxed space-y-4"
          >
            <ul class:list={[classInnerList, 'text-lg list-none space-y-4']}>
              <li>
                <span class="font-bold text-lg">Resilience:</span> Building mental
                and physical strength to overcome challenges on and off the field.
              </li>
              <li>
                <span class="font-bold text-lg">Discipline:</span>
                Emphasizing consistent effort and focus to achieve lasting results.
              </li>
              <li>
                <span class="font-bold text-lg">Empowerment:</span>
                Encouraging athletes to push their limits and unlock their true potential.
              </li>
              <li>
                <span class="font-bold text-lg">Innovation:</span>
                Integrating proven methods with forward-thinking approaches to maximize
                performance.
              </li>
              <li>
                <span class="font-bold text-lg">Integrity:</span>
                Maintaining a commitment to honesty, hard work, and the pursuit of
                excellence in every program.
              </li>
            </ul>
          </div>
        </div>
      </Card>
    </div>
  </div></BaseLayout
>
