<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
    <title>Content Manager</title>
  </head>
  <body>
    <script is:inline src="https://unpkg.com/decap-cms@^3.1.2/dist/decap-cms.js"></script>
    <script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <!-- <a href="https://app.netlify.com/sites/frontierperformance/deploys"> -->
    <!--   <img src="https://api.netlify.com/api/v1/badges/f395fc57-df2a-4bd3-b609-9c8a2b9a9b57/deploy-status" alt="Netlify Status"> -->
    <!-- </a> -->
    <script is:inline>
      const badgeContainer = document.createElement('div')
      badgeContainer.style.display = "flex"
      badgeContainer.style.justifyContent = "center"

      const badge = document.createElement('a');
      const body = document.body
      badge.href = "https://app.netlify.com/sites/frontierperformance/deploys"
      const img = document.createElement('img')
      img.src = "https://api.netlify.com/api/v1/badges/f395fc57-df2a-4bd3-b609-9c8a2b9a9b57/deploy-status"
      img.alt = "Netlify Status"
      badge.appendChild(img)
      badgeContainer.appendChild(badge)
      body.appendChild(badgeContainer)
    </script>
    <!-- Customize the netlify identity widget to refresh on logout preventing users from using the cms when not logged in and then seeing an error -->
    <!-- <script is:inline>netlifyIdentity.on('logout', () => location.reload());</script> -->

    <!-- CSS in preview panel -->
    <script>
        // @ts-expect-error CMS is defined globally
        // eslint-disable-next-line
        // TODO: add below to a global.css to src/assets/styles/global.css
        // @tailwind base;
        // @tailwind components;
        // @tailwind utilities;
        // CMS.registerPreviewStyle("/global.css");
    </script>
    <!-- Only showing body in preview panel -->
    <!-- <script src="@utils/preview.js"></script> -->
    <!-- OR -->
    <!-- <script src="src/assets/utils/preview.js"></script> -->
  </body>
</html>
