---
import { getCollection, render, type CollectionEntry } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import Section from '../components/Section.astro';
import LandingHero from '../components/LandingHero.astro';
import ServiceBlurbCard from '../components/home/ServiceBlurbCard.astro'
import CoachBlurbCard from '../components/home/CoachBlurbCard.astro'
import ContactForm from '../components/home/ContactForm.astro'

type Service = CollectionEntry<'services'>
const allServices = await getCollection('services');

type Coach = CollectionEntry<'coaches'>
const allCoaches = await getCollection('coaches');

const allHome = await getCollection('home')
const home = allHome[0]
const { Content } = await render(home)

---

<BaseLayout>
  <LandingHero />
  <Section id="welcome-text" background="light" class="py-12">
    <div class:list={['py-6 md:py-8']}>
      <div class="flex justify-center">
        <div
          class="px-4 space-y-6 md:space-y-10 text-lg md:text-xl md:max-w-4xl text-slate-700 leading-relaxed text-center prose-h3:tracking-wide"
        >
          <Content />
        </div>
      </div>
    </div>
  </Section>
  <Section id="services" title="Services">
    <ul
      class="grid md:grid-cols-2 xl:grid-cols-3 gap-8 md:gap-12 py-4 px-2 md:p-6 text-center"
    >
    {allServices.map((service: Service) => (
      <li class="flex">
        <ServiceBlurbCard service={service} />
      </li>
    ))}
    </ul>
  </Section>
  <Section id="coaches" title="Coaches" background="light">
    <div class="grid grid-cols-1 md:grid-cols-2 py-4 px-2 md:p-6 gap-8">
    {allCoaches.map((coach: Coach) => (
        <CoachBlurbCard coach={coach} />
    ))}
    </div>
  </Section>
  <Section id="contact" title="Contact" spacing="lg">
    <ContactForm />
  </Section>
</BaseLayout>
