---
interface Props {
  href: string;
  class?: string;
  variant?: 'filled' | 'outlined';
  color?: 'dark' | 'light';
  bold?: boolean;
}

const {
  href,
  class: className = '',
  variant = 'filled',
  color = 'dark',
  bold = false,
} = Astro.props;

const classBase =
  'inline-block px-3 py-2 rounded-md transition-colors duration-200';

let classText = '';
let colorBackground = '';
let classHover = '';
let classBorder = '';

if (color === 'dark' && variant === 'filled') {
  classText = '!text-white';
  colorBackground = 'bg-slate-700';
  classHover = 'hover:bg-slate-600';
} else if (color === 'light' && variant === 'filled') {
  classText = '!text-slate-700';
  colorBackground = 'bg-white';
  classHover = 'hover:bg-slate-200';
} else if (color === 'light' && variant === 'outlined') {
  classText = '!text-white';
  colorBackground = 'bg-transparent';
  classBorder = 'border-2 border-solid border-white';
  classHover = 'hover:!text-fsp-green hover:border-fsp-green';
} else if (color === 'dark' && variant === 'outlined') {
  classText = '!text-slate-700';
  colorBackground = 'bg-transparent';
  classBorder = 'border-2 border-solid border-slate-700';
  classHover = 'hover:!text-fsp-green hover:border-fsp-green';
}

classText += bold ? ' font-bold' : '';
classText += ' text-center';

const computedClass = [
  classBase,
  classText,
  colorBackground,
  classHover,
  classBorder,
  className,
];
---

<a href={href} class:list={computedClass}>
  <slot />
</a>
