---
interface Props {
  class?: string;
  variant?: 'dark' | 'light';
  id?: string;
}

const { class: className = '', variant = 'light', id } = Astro.props;

const classCard = 'px-3 py-4 md:p-6 rounded-lg shadow-md md:shadow-lg';
let classTypography = ''
let colorBackground = '';
let classBorder = '';

if (variant === 'dark') {
  colorBackground = 'bg-slate-800';
  classBorder = 'border-2 border-solid border-black';
} else if (variant === 'light') {
  colorBackground = 'bg-white';
  classBorder = 'md:border md:border-solid md:border-gray-200';
}

const computedClass = [
  classCard,
  colorBackground,
  classBorder,
  classTypography,
  className, // leave this last so it overrides above classes
];
---

<div id={id} class:list={computedClass}>
  <slot />
</div>
