---
import Link from "./Link.astro"
---
<nav class='bg-blue-500'>
	<Link href="#services">
		Services
	</Link>
	<Link href="#calendar-of-events">
		CalendarOfEvents
	</Link>
	<Link href="#biographies">
		Biographies
	</Link>
	<Link href="#about">
		About
	</Link>
	<Link href="#contact">
		Contact
	</Link>
</nav>
