---
import SITE_MAP from '../constants/site-map.ts';
import ButtonLink from '../components/ButtonLink.astro';
import heroImage from '../assets/baseball-field-mountains.jpg';
import { Image } from 'astro:assets';
---

<!-- <div class="bg-gray-800 space-y-12 py-8 md:py-12 flex flex-col items-center"> -->
<div class="relative w-full h-[50vh] overflow-hidden p-4">
  <div class="absolute inset-0">
    <Image
      src={heroImage}
      alt="field"
      width={1080}
      class="w-full h-full object-cover"
    />
    <div class="absolute inset-0 bg-black/50"></div>
  </div>
  <div
    class="relative h-full flex flex-col items-center justify-center gap-3 md:gap-12"
  >
    <div
      class="text-lg md:text-2xl tracking-wider text-center text-white font-bold italic"
    >
      FRONTIER SPORTS PERFORMANCE
    </div>
    <h1
      class="text-xl md:text-3xl md:max-w-3xl tracking-wide font-bold text-center text-white"
    >
      UNLOCK YOUR POTENTIAL IN STRENGTH AND ATHLETICS
    </h1>
    <div
      class="w-full pt-6 md:pt-10 flex gap-6 md:gap-10 flex-nowrap justify-center items-center"
    >
      <ButtonLink
        href={SITE_MAP.services}
        variant="filled"
        color="light"
        class="font-bold md:w-1/5 md:w-auto md:px-6 md:py-3"
      >
        Start Training
      </ButtonLink>
      <ButtonLink
        href={SITE_MAP.about}
        variant="outlined"
        color="light"
        class="font-bold md:w-1/5 md:w-auto md:px-6 md:py-3"
      >
        About Us
      </ButtonLink>
    </div>
  </div>
</div>
