---
import { twMerge } from 'tailwind-merge';

interface Props {
  id?: string;
  title?: string;
  class?: string;
  titleSize?: 'sm' | 'md' | 'lg';
  titleColor?: string;
  spacing?: 'sm' | 'md' | 'lg';
  background?: 'none' | 'light' | 'dark';
}

const {
  id,
  title,
  class: className = '',
  titleSize = 'lg',
  titleColor,
  spacing = 'md',
  background = 'none',
} = Astro.props;

const classBase = '';

const titleSizes = {
  sm: 'text-xl font-semibold',
  md: 'text-2xl font-bold',
  lg: 'text-3xl font-bold',
};
const titleColors = {
  none: 'text-slate-700',
  light: 'text-slate-700',
  dark: 'text-white',
};

const computedTitleClass = twMerge(
  titleColor || titleColors[background],
  titleSizes[titleSize],
  'text-center drop-shadow-lg mb-1',
);

const spacingSizes = {
  sm: 'py-6 md:py-8',
  md: 'py-8 md:py-10',
  lg: 'py-10 md:py-12',
};

const backgrounds = {
  none: '',
  light: 'bg-white',
  dark: 'bg-slate-700',
};

const computedSectionClass = twMerge(
  classBase,
  spacingSizes[spacing],
  backgrounds[background],
  className
);
---

<section id={id} class={computedSectionClass}>
  <div>
    {title && <h2 class={computedTitleClass}>{title}</h2>}
    <div class="space-y-4">
      <slot />
    </div>
  </div>
</section>
