---
interface Props {
  id?: string;
  title?: string;
  class?: string;
  titleSize?: 'sm' | 'md' | 'lg';
  titleColor?: string;
  spacing?: 'sm' | 'md' | 'lg';
  background?: 'none' | 'light' | 'dark';
}

const {
  id,
  title,
  class: className = '',
  titleSize = 'lg',
  titleColor = 'text-slate-700',
  spacing = 'md',
  background = 'none',
} = Astro.props;

const titleSizes = {
  sm: 'text-xl font-semibold',
  md: 'text-2xl font-bold',
  lg: 'text-3xl font-bold',
};

const titleClass = [titleColor, titleSizes[titleSize], "text-center", "drop-shadow-lg"];

const spacingSizes = {
  sm: 'py-4 md:py-6',
  md: 'py-6 md:py-8',
  lg: 'py-8 md:py-10',
};

const backgrounds = {
  none: '',
  light: 'bg-white',
  dark: 'bg-slate-700',
};

const sectionClass = [
  spacingSizes[spacing],
  backgrounds[background],
  className,
];
---

<section id={id} class:list={sectionClass}>
  <div>
    {title && <h2 class:list={[titleClass, "mb-1"]}>{title}</h2>}
    <div class="space-y-4">
      <slot />
    </div>
  </div>
</section>
