---
import { getCollection, type CollectionEntry } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import PageTitle from '../../components/PageTitle.astro';
import CoachCard from './_CoachCard.astro';

type Coach = CollectionEntry<'coaches'>
const allCoaches = await getCollection('coaches');
---

<BaseLayout>
  <div class="flex flex-col items-center px-2 md:px-6 gap-5 md:gap-8 mt-6">
    <PageTitle>Coaches</PageTitle>
    {allCoaches.map((coach: Coach) => <CoachCard coach={coach} />)}
  </div>
</BaseLayout>
